header {
    background-color:#fff;
    margin-bottom: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    height: 100px;
    display: block;
}
header .container{
    height: 100%;
    font-family: 'Russo One', sans-serif;
    padding-top: 15px;
    color:#f84;
    margin:auto;
}
header .container .top-logo{
    text-decoration: none;
    font-family: 'Russo One', sans-serif;
    font-size: 50px;
    color:#f84;
}
.navbar {
	margin-bottom: 100;
	background: #f84;
    z-index:100;
    border-bottom: 1px solid #f2f2f2 !important;
	border: none;
	border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}
.navbar-brand {
	position: relative;
	//padding: 27px 0;
    padding-top: 0;
	margin: 0!important;
	transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
a.navbar-brand {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    padding:15px;
    color: #fff !important;
}
.navbar-default .navbar-nav {
	margin-right: 10px!important;
	position: relative;
	transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
.navbar-default .navbar-left{
    color:#6E6E6E;
    display:block;
    font-size: 16px;
    line-height: 10px;
    padding-top: 25px;
    padding-left: 50px;
    
}
.navbar-default .navbar-nav > li {
    margin-left: 1px;
}

.navbar-default .navbar-nav > li:first-child {
    margin-left: 0;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
	display: block;
    font-size: 16px;
    line-height: 10px;
	font-weight: 500;
    padding: 20px 15px 20px;
	overflow: hidden;
    border-top: 2px solid transparent;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.navbar-default .navbar-nav > li > a i {
    padding-left: 10px;
}

.navbar-default .navbar-nav > li > a.active, 
.navbar-default .navbar-nav > li:hover > a {
	border-top: 2px solid #FF432E;
    color: #fff;
    background: #FF432E;
    //padding: 25px 15px 30px;
}

.navbar-default .navbar-nav > li > a i {
	margin: 0 -2px 0 -5px;
}

.navbar-default .navbar-nav > li.dropdown.open > a{
    color: #fff;
    background: #FF432E;
}
.navbar-default .navbar-nav > li.dropdown ul.dropdown-menu{
    background-color: #fff;
}
.navbar-default .navbar-nav > li.dropdown ul.dropdown-menu > li > a{
    color:black;
}
.affix {
    top: 0;
    width: 100%;
}

.affix + #root {
    padding-top: 70px;
}

body{
    background-color:#f2f2f2;
}

a, 
a:hover, 
a:focus,
a:active{
    outline: 0;
    text-decoration: none;
}