/*------------------------------------------*/
/*	    전역 css
/*------------------------------------------*/


div,td,th{
	border : 1px solid black;	/* div의 구조를 위해... */
}

hr{
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}


/*------------------------------------------*/
/*	     HOME BODY
/*------------------------------------------*/
/*#body_home_userinfo{
	width:92%;
	margin-top: -6px;
	margin-left:4%;
	padding : 3px;
	font-size : 15px;
}

.body_home_title{
	padding : 3px;
}

#body_home_gongji{
	position:absolute;
	width:30.5%;
	margin-left:4%;
	margin-top:10px;
	height:600px;

}

#body_home_study_container{
	position:absolute;
	left:40%;
	margin-top:10px;
	width:57%;
	height:600px;
}

#body_home_jeong,#body_home_jun{
	width:100%;
	height:48%;
}

#body_home_jun{
	position: absolute;
	bottom: 0px;
}

#body_home_jeong_more,#body_home_jun_more,#body_home_gongji_more{
	position: relative;
	float: right;
	margin-right: 2px;
}

#body_home_notification{
	padding:10px;
	margin-top: 635px;
	margin-bottom: 30px;
	margin-left:4%;
	width:92%;
}

*/
#body_home_div{
//	min-width: 1169px;
}
.body_home_container{
	min-width: 100%;
    clear:both;
    margin-bottom:14.66px;
    margin-top:0;
    padding:0;
}
.body_home_title{
    background-color:#fff;
    border-color:#f2f2f2;
    border-style:solid solid none;
    border-width: 2px 0 0;
    margin-bottom:0;
    padding: 15px 15px 7px;
    font-weight: bold;
    font-size:14pt;
    color:#f84
}
.body_home_content{
    background-color:#fff;
    color:inherit;
    padding:15px 20px 15px 20px;
    border-color:#f2f2f2;
    border-style:solid solid none;
    border-width:1px 0;
}
.body_home_content_table{
	width:100%;
}
.body_home_content_list{
	//width:300px;
	min-width:260px;
	max-width:300px;
	display:inline-block;
	padding : 1px;
	margin-top: 2px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.body_home_content_date{
	//width: 90px;
	min-width: 90px;
	max-width: 80px;
}
.body_home_content_writer{
	//width: 45px;
	min-width: 45px;
}/*
@media (max-width: 992px){
	#body_home_div{
		min-width: 1px;
	}
	.body_home_container{
		min-width: 1px;
	}
	.body_home_content_list{
		width: 50vw;
		min-width: 1px;
	}
}*/

@media (max-width: 880px){
	.body_home_content_list{
		max-width: 280px;
		min-width:250px;
	}
}
@media (max-width: 538px){
	.body_home_content_list{
		max-width: 160px;
		min-width:160px;
	}
}
.body_home_more{
    float:right;
}
.notification{
    background-color:#f84;
}
.body_home_title.notification{
	color:white;
}
/*------------------------------------------*/
/*	     FORUM BODY
/*------------------------------------------*/

#body_forum_left_container{
	position:absolute;
	margin-left: 0.8%;
	width:17%;
	background-color: #fff;
	border-radius: 10px;
}

#body_forum_left_name{
	padding: 80px 0px;
	width:100%;
	text-align: center;
}

.body_forum_menu{
	cursor : pointer;
	width: 100%;
	margin-top: 3px;
	margin-bottom: 3px;
	padding: 2px 10px 2px 10px;
	font-family: sans-serif;
	font-weight: bold;
}
#body_forum_right_container{
	position: absolute;
	width:78%;
	height:600px;
	margin-left: 20%;
	background-color: #fff;
	border-radius: 10px;
}

#body_forum_right_name{
	padding : 4px;
	font-size: 18px;
	font-weight: 700;
	font-family: sans-serif;
	text-align: center;
	background-color: #f84;
	color: white;
	border-radius: 10px;
}

#body_forum_info{
	clear:both;	
	width:100%;
	padding-top: 5px;
	font-weight: bold;
	font-family: sans-serif;
}

.body_forum_info_float{
	position:absolute;
	padding: 4px 0px;
	font-size:15px;
	text-align: center;
}

.body_forum_info_space{
	position:static;
	float: left;
	visibility: hidden;
}

/* 공지사항을 위한 info */
.body_forum_gongji_regdate{
	right:88%;
	width:12%;
}
.body_forum_gongji_duedate{
	right:76%;
	width:12%;
}
.body_forum_gongji_title{
	right:22%;
	width:54%;
}
.body_forum_gongji_writer{
	right:10%;
	width:12%;
}
.body_forum_gongji_hits{
	right:0px;
	width:10%;
}

/* 공지사항이 아닌것을 위한 info */
.body_forum_not_gongji_post_number{
	right:88%;
	width:12%;
}
.body_forum_not_gongji_title{
	right:34%;
	width:54%;
}
.body_forum_not_gongji_regdate{
	right:22%;
	width:12%;
}
.body_forum_not_gongji_writer{
	right:10%;
	width:12%;
}
.body_forum_not_gongji_hits{
	right:0px;
	width:10%;
}

#body_forum_number_container{
	clear:both;
	width: 303px;
	height: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
}

.body_forum_number{
	float: left;
	text-align: center;
	width: 25px;
	height: 23px;
}
.circle{
	border: 1px solid black;
	border-radius: 50%;
}
#body_forum_left_shift{
	margin-right:15px;
	width:30px;
}

#body_forum_left_shift2{
	margin-right:3px;
	width:40px;
}

#body_forum_right_shift{
	margin-left:15px;
	width:30px;
}

#body_forum_right_shift2{
	margin-left:3px;
	width:40px;
}

#body_forum_bottom_space{
	width:100%;
	height:600px;
}
/*------------------------------------------*/
/*	     사진첩
/*------------------------------------------*/
.gallery_sajin{
	padding: 1px !important;
	margin-bottom:15px;
}
.gallery_sajin .sajin_image{
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.gallery_sajin .sajin_image{
	position:relative;
	overflow:hidden;
	padding-bottom:100%;
}
.gallery_sajin .thumbnail{
	margin-bottom:0;

}
.gallery_sajin .sajin_image img{
	position:absolute;
}

#body_gallery .list-group-item{
	padding:5px 5px;
}

#body_gallery .sidebar{
	padding-right:50px;
}
#body_gallery #body_gallery_content{
	border: 1px white solid;
	border-radius: 10px;
	background-color:white;
}
#body_gallery_name{
	background-color:#f84;
	color:white;
	border-radius:10px 10px 0 0;
}
#body_gallery_name p{
	font-size:20px;
	font-family: sans-serif;
	font-weight: bold;
	color: #fff !important;

	margin-bottom:0;
}

/* 내 정보 보기 */
.profile-heading{
	background-color:#f84 !important;
	color:white !important;
	font-family: 'Russo One', sans-serif !important;
	padding-top:10px;
	padding-bottom:10px;
}
/* 댓글 css */

.datgul {
	background-color:white;
	width: 100%;
}
.datgul_box{
	//padding: 3px;
	width:100%;
	margin-left:0;
	margin-right:0;
}
.datgul_box .datgul_reg{
	padding-right:0;
	padding-left:0;
}
.datgul_box #datgul_reg_btn{
	height:94px;
	padding-left:10px;
}
.datgul_box #datgul_reg_btn button{
	height:100%;
	width:100%;
}
.datgul_stat {
	padding-left:5px;
}
.datgul-wrapper{
	width:100%;
	margin-left:0;
	margin-right:0;
}
.datgul_list{
	width:100%;
	display:inline-block;
	background-color:white;
	margin-bottom : 5px;
	border-top:1px solid #c0c0c0;
	border-left:1px solid #c0c0c0;
	box-shadow: 2px 2px 4px grey;
	-moz-box-shadow:2px 2px 4px grey;
	-webkit-box-shadow:2px 2px 4px grey;
}
.datgul_list .datgul-left{
	padding:0;
}
.datgul_list .datgul-right{
}
.datgul_list .datgul_info{
	margin-top:5px;
	display:inline-block;
}
.datgul_list .datgul_info div{
	bottom:0;
}
.datgul_list .datgul_name{
	font-size:18px;
	margin-right:15px;

}
.datgul_list .datgul_sujeo{
	width:20px;
	height:20px;
	margin-right:5px;
}
.datgul_list .datgul_time{

}
.datgul_list .datgul_content{
	padding-top:5px;
	padding-bottom:10px;
}
.datgul_list .datgul_face{
	padding:5px;
}
@media (max-width: 992px){
	.datgul.container{
		width:100%;
		padding-left:0;
		padding-right:0;
	}
	.datgul_list .datgul-left{
		padding:0;
	}
	.datgul_face{
		padding:3px;
	}
	.datgul_list .datgul-right{
		padding-left:3px;
	}
	.datgul_box #datgul_reg_btn{
		 padding-left:3px;
	}
	.datgul_box #datgul_reg_btn button{
		padding:0;
	}
}
.datgul_face img{
	border: 2px gray dotted;
}
/*
}*/
.body_forum_postview_container{
	width: 100%;
	margin-bottom: 1%;
}
.body_forum_postview_titlebox{
	width: 100%;
	margin-right: 0;
}
.body_forum_postview_titlebox_right{
	padding:0;
}
.body_forum_postview_profilebox{
	width: 100%;
}
.body_forum_postview_bodybox{
	width: 100%;
}

.body_forum_postview_controlbox{
	width: 100%;
}


/*윤진 추가*/
.division{
	border: 1px gray;
	height: 0px;
}
.write-btn{
	margin: 5px;
	font-weight: bold;
	font-family: sans-serif;

}
.btn-center{
	margin: 0px auto;
}